
<div *ngIf="!loggedin; then login; else logout" ></div>


<ng-template #login>
    <div class="login" >
        <label for="username">Felhasználó név</label>
        <input type="text" name="username" [(ngModel)]="username" />

        <label for="password">Jelszó</label>
        <input type="password" name="password" [(ngModel)]="password"/>

        <input type="submit" value="Belépés" (click)="loginClick()" />
    </div>
</ng-template>

<ng-template #logout>
    <div class="login" >
        <p>Felhasználó név: <span>{{username}}</span></p>
        <input type="submit" value="Kijelentkezés" (click)="logoutClick()" />
    </div>
</ng-template>
